<div class="w-fit">
  <div></div>
  <mat-card>
    <mat-card-title> Login </mat-card-title>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="login()">
        <mat-form-field>
          <input
            type="text"
            matInput
            formControlName="username"
            placeholder="Username"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            type="password"
            matInput
            formControlName="password"
            placeholder="Password"
          />
        </mat-form-field>
        <div fxLayoutAlign="center">
          <span class="m-4">
            <button
              type="submit"
              [disabled]="!this.form.valid"
              mat-raised-button
              color="primary"
            >
              Login
            </button>
          </span>
          <span class="m-4">
            <button
              type="button"
              mat-raised-button
              color="accent"
              routerLink="/sign-up"
            >
              Register
            </button>
          </span>
        </div>

        <div [hidden]="!this.loggedInError" class="error">
          {{ this.errorLogin }}
        </div>
      </form>
    </mat-card-content>
    <mat-card-footer>
      <mat-card-content fxLayoutAling="center">
        <span class="m-4" style="color: black">
          <mat-card-subtitle>
            <a>Forgot Password?</a>
          </mat-card-subtitle>
        </span>
      </mat-card-content>
    </mat-card-footer>
  </mat-card>
</div>
